@charset "UTF-8";

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('fonts/opensans-condbold-webfont.eot');
    src: url('fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-condbold-webfont.woff') format('woff'),
         url('fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('fonts/opensans-condlight-webfont.eot');
    src: url('fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-condlight-webfont.woff') format('woff'),
         url('fonts/opensans-condlight-webfont.ttf') format('truetype'),
         url('fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {/* background-color:#f3eada;*/ margin:0 0; font-family: open_sansregular;}
p.tx-presentacion { text-align:justify; font-size:11px; color:#333;}
h2.tit-presentacion { font-family: open_sanscondensed_light; font-weight:bold; color:#e95839; text-transform:uppercase; font-size:18px;} 

#contenedor-uc {background-color:#f3eada; width:100%; height:100%;}
.header {	background-color:#fff; height:80px; width:100%;}
.header .img-header {background:transparent url(../images/header.jpg) no-repeat 0 0; margin: 0 auto; width:1000px; height:80px;}
.header-uc{border-left:10px  solid #e95839;}
div.header-uc h4,div.header-uc h5{font-weight: bold;color:#476083;}
.menu-uc {	background-color:#476083; height:30px; width:100%; border-bottom:4px solid #e95839;}
.menu-uc ul {font-size:13px;/*margin:0 auto;*/ font-family: open_sanscondensed_light; font-weight:bold;}
.menu-uc ul li { color:#fff; /*display:inline;*/}
.menu-uc ul a, .menu-uc ul a:link {text-decoration:none;}
.menu-uc ul li {/*margin:3px 10px;*/} 
.menu-uc ul {/*padding-top:5px;*/}
.contenidos-uc {width:1000px; margin:0 auto; height:auto;}
.footer-uc {	background-color:#476083; height:30px; width:100%; border-top:4px solid #e95839; margin-top:30px;}
/*.slider {width:980px; height:350px; margin:15px 0 20px 0;}
*/
.left { float:left;}
.right {float:right;}
.clear {clear:both;}
.col60{ width:58%;}
.col40{ width:40%; background-color: #fff;}
.mr20 {margin-right:20px;}
.mt20 {margin-top:20px;}
.ml10 {margin-left:10px;}
.mt10 {margin-top:10px;}
.mb10 {margin-bottom:10px;}
.box-boton {width:380px; height:75px;}
.box-boton:hover {opacity: 0.9;}

ul.nav > li > a, .nav > li > a{
    background-color: transparent;
    text-decoration: none;
    color:#fff;
}
ul.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
    color:#fff;
}

ul.navbar-nav > li > a {
    padding-bottom: 0px;
    padding-top: 0px;
}

.loader_message{border: 0 none;  box-shadow: 0 1px 1px 3px #FFFFFF;  left: 50%;  position: fixed;  top: 50%;  z-index: 9999999;height: auto;
    margin-left: -300px;
    margin-top: -43px;
    opacity: 0.88;
    padding: 10px;
    width: 600px;
    
    background-image: -moz-linear-gradient(#006CB7, #222222);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006CB7), to(#222222));
      background-image: -webkit-linear-gradient(#006CB7, #222222);
      background-image: -o-linear-gradient(#006CB7, #222222);
      background-image: linear-gradient(#006CB7, #222222);
      background-repeat: repeat-x;
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#006CB7', endColorstr='#222222', GradientType=0);
        
    border: 1px solid #444444;
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: 0 1px 1px #111111;    
    -moz-border-radius:0.6em;-khtml-border-radius:0.6em;-webkit-border-radius:0.6em;border-radius:0.6em;
    }
.loader_message .icon-loading{margin: 0 auto 10px;background-color: #000000;-moz-border-radius:36px;-khtml-border-radius:36px;-webkit-border-radius:36px;border-radius:36px;  display: block; height: 44px;  padding: 1px; width: 44px;background: url("imag/ajax-loader.gif");}
.loader_message h1{font-weight: bold;text-shadow: 0 1px 1px #111111;border: medium none;color: #FFFFFF;font-family: Helvetica,Arial,sans-serif;font-size: 16px; margin: 0; text-align: center;}
.exportarGrafico{display:none;}
button.exportarGrafico{display:none;}
/*#progressBar {
	margin-left: 100px;
	width: 400px;
	height: 22px;
}

#progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	font-size: 12px;
	line-height: 22px;
	width: 0;
}

.progress_bar_default {
	background: #292929;
	border: 1px solid #111;	
	border-radius: 5px;	
	overflow: hidden;
	box-shadow: 0 0 5px #333;				
}
.progress_bar_default div {
	background-color: #1a82f7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7)); 
	background: -webkit-linear-gradient(top, #0099FF, #1a82f7); 
	background: -moz-linear-gradient(top, #0099FF, #1a82f7); 
	background: -ms-linear-gradient(top, #0099FF, #1a82f7); 
	background: -o-linear-gradient(top, #0099FF, #1a82f7);
}*/

.progress_bar_default {
	background-color: #1a82f7;
	height: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7)); 
	background: -webkit-linear-gradient(top, #0099FF, #1a82f7); 
	background: -moz-linear-gradient(top, #0099FF, #1a82f7); 
	background: -ms-linear-gradient(top, #0099FF, #1a82f7); 
	background: -o-linear-gradient(top, #0099FF, #1a82f7);	
	width: 0;
	position: absolute;
	left:0px;
	top:0px;			
}

.slider{background: none;}

div.modal-dialog {
  position: relative;
  width: auto;
  /*max-width: 600px;*/
}
div.modal-md {
  max-width: 600px;
}
div.modal-sm {
  max-width: 300px;
}
div.modal-lg {
  max-width: 900px;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
  }
}
@media (min-width: 320px) {
  .modal-sm {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 620px) {
  .modal-dialog {
    margin-right: auto;
    margin-left: auto;
  }
  .modal-lg {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 920px) {
  .modal-lg {
    margin-right: auto;
    margin-left: auto;
  }
}


button.btn-xs {
    border-radius: 3px;
    font-size: 12px;
    height: 19px;
    line-height: 1.5;
    padding: 1px 5px;
}

.instrucciones{display:none;}
